[submodule "serpent-style"]
	path = serpent-style
	url = https://gitlab.com/serpent-os/core/serpent-style.git
[submodule "license-list-data"]
	path = license-list-data
	url = https://github.com/spdx/license-list-data.git
	shallow = true
